{% extends "_layouts/auth.njk" %}
{% block body %}
  <form action="/signup" method="post">
    <label for="avatar"></label>
    <img src="/images/avatar.svg" height="24" alt="">
    <input type="file" id="avatar" name="avatar">

    <input type="text" name="name" placeholder="Nome completo">
    <input type="text" name="email" placeholder="Seu e-mail">
    <input type="text" name="password" placeholder="Senha secreta">

    <label for="provider">
      <input type="checkbox" id="provider" name="provider" value="1">
      Sou prestador de serviços
    </label>
    <button type="submit">Criar Conta</button>
    <a href="/">Já possuo conta</a>
  </form>
{% endblock %}
